.imgWrapper{
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
}

.imgWrapper img{
    object-fit: contain;
    border-radius: 8px;
    margin: 0 10px 10px 0;
    max-width: 280px;
    width: 100%;
}