.sidebarWrapper{
    width: 30%;
    background-color: #e4e8f0;
    border-right: 1px solid rgba(0,0,0,0.1);
}

.sidebar{
    position: sticky;
    top: 10%;
}

.sidebar a{
    display: block;
    padding: 16px;
    color: #050e24;
    text-decoration: none;
}

.sidebar a:hover{
    background-color: #fafafa;
}

@media only screen and (max-width: 830px){
    .sidebarWrapper{
        display: none;
    }
}