.table table{
    border-collapse: collapse;
    width: 100%;
    background-color: #fff;
}

.table-border table{
    width: 100%;
    background-color: #fff;
}

.table thead{
    background-color: #f8f8f8;
    text-align: left;
}

.table-border thead{
    text-align: center;
    background-color: #f8f8f8;
}

.table-border td{
    border: 2px solid #c0c0c0;
}

.table-border .left{
    border: 2px solid #ff6347;
    border-right: 2px solid #c0c0c0;
}

.table-border .middle{
    border: 2px solid #ff6347;
    border-left: 2px solid #c0c0c0;
    border-right: 2px solid #c0c0c0;
}
.table-border .right{
    border: 2px solid #ff6347;
    border-left: 2px solid #c0c0c0;
}

.table-row-header th{
    padding: 1em 0;
}

.table-row td{
    border-top: 1px solid #c0c0c0;
    padding: 8px;
}
