.table table{
    border-collapse: collapse;
    margin: auto;
    width: 70%;
}

.table thead{
    text-align: left;
}

.table td{
    padding: 8px;
    text-align: left;
}

.table tr:nth-child(even){
    background-color: #cacaca;
}
